body {
  background: linear-gradient(60deg, #83b7ee, #c1e6f3);
  margin: 0;
  padding: 0;
}

#home a {
  position: relative;
  font-size: 30px;
  font-weight: bolder;
}

/* 搜索框 */

form {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  width: 500px;
  height: 30px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
}

select {
  background-color: #fff;
  border: none;
  border-radius: 20px;
  color: #555555;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  padding: auto;
  margin-right: 10px;
}

option {
  padding: 10px;
  margin: 5px 0;
  font-size: 16px;
  color: #555555;
  background-color: #fff;
  border: none;
  border-radius: 20px;
}

select:focus {
  outline: none;
  box-shadow: 0 0 5px #87CEEB;
}

button[type="submit"] {
  background-color: #0077FF;
  /* #3bb6e7; */
  border: none;
  border-radius: 20px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #6495ED;
}

.artwork {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.artwork a {
  margin: 10px;
}

.artwork img {
  width: 300px;
  height: 400px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* 搜索结果展示 */

#resultsContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  justify-content: center;
}

.artworkDiv {
  width: 300px;
  margin: 10px;
  padding: 10px;
  /* border: 1px solid #ccc; */
  text-align: center;
  margin-top: 30px;
  background-color: #83b7ee;

  border: 1px solid #ccc;
  border-radius: 10px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */

}

.artworkDiv img {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

.artworkDiv h3 {
  margin-bottom: 5px;
}

.artworkDiv p {
  margin-bottom: 10px;
}

.artworkDiv {
  white-space: nowrap;
  /* 禁止换行 */
  overflow: hidden;
  /* 超出部分隐藏 */
  text-overflow: ellipsis;
  /* 使用省略号代替超出部分 */
}

/* 以下为新样式 */
.artworkDiv {
  display: flex;
  flex-direction: column;
  width: 25%;
  /* 添加其他样式属性 */
}

.topDiv {
  display: flex;
  /* 添加其他样式属性 */
}

.imageDiv {
  /* 添加样式属性，例如设置宽度、间距等 */
}

.infoDiv {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* 添加其他样式属性 */
}

/* 轮播样式 */

.slider-page a {
  text-decoration: none;
}

.slider,
.slider-panel img,
.slider-extra {
  width: 800px;
  height: 400px;
}

.slider {
  text-align: center;
  margin-top: 40px;
  margin-left: 420px;

  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.slider-panel,
.slider-nav,
.slider-pre,
.slider-next {
  position: absolute;
  z-index: 1;
}

.slider-panel img {
  /* height: 820px; */
  padding: 0;
  top: 50px;
  border-radius: 10px;
  /* margin-top: -1em; */
}

.slider-extra {
  position: relative;
}

.slider-nav li {
  background: #3e3e3e;
  border-radius: 0.2em;
  color: black;
  cursor: pointer;
  margin: 0 2px;
  overflow: hidden;
  text-align: center;
  display: inline-block;
  height: 18px;
  line-height: 18px;
  width: 18px;
  margin-top: 380px;
  /* margin-left: 100px; */
  position: relative;
  left: 380px;

}

.slider-nav .slider-item-selected {
  background: rgba(40, 190, 148, 0.7);
}

.slider-page a {
  background: rgba(0, 0, 0, 0.2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000, endColorstr=#33000000);
  color: #fff;
  text-align: center;
  display: block;
  font-size: 22px;
  width: 28px;
  height: 62px;
  line-height: 62px;
  margin-top: -31px;
  position: absolute;
  top: 50%;
  margin-left: 8px;
}

.slider-page a:hover {
  background: rgba(0, 0, 0, 0.4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000, endColorstr=#66000000);
}

.slider-next {
  left: 100%;
  margin-left: -28px;
}

/* 搜索结果及标题 */

.latestReleased { 
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 20px;
  font-weight: bold;
  font-size: 40px;
}