#search a {
    font-size: 30px;
    font-weight: bolder;
}

/* 搜索框 */

form {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    width: 500px;
    height: 30px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
}

select {
    background-color: #fff;
    border: none;
    border-radius: 20px;
    color: #555555;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    padding: auto;
    margin-right: 10px;
}

option {
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
    color: #555555;
    background-color: #fff;
    border: none;
    border-radius: 20px;
}

select:focus {
    outline: none;
    /* Div-shadow: 0 0 5px #87CEEB; */
}

button[type="submit"] {
    background-color: #0077FF;
    /* #3bb6e7; */
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #6495ED;
}

/* 搜索总数 */
#searchResultsOutput {
    /* display: flex;
    justify-content: center; */
    position: relative;
    margin-left: 310px;
    /* margin-bottom: -10px; */
}

/* 搜索结果展示 */

#resultsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.artworkDiv {
    width: 300px;
    margin: 10px;
    padding: 10px;
    /* border: 1px solid #ccc; */
    text-align: center;
    margin-top: 30px;
    background-color: #83b7ee;

    border: 1px solid #ccc;
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */

}

.artworkDiv img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.artworkDiv h3 {
    margin-bottom: 5px;
}

.artworkDiv p {
    margin-bottom: 10px;
}

.artworkDiv {
    white-space: nowrap;
    /* 禁止换行 */
    overflow: hidden;
    /* 超出部分隐藏 */
    text-overflow: ellipsis;
    /* 使用省略号代替超出部分 */
}

/* 以下为新样式 */
.artworkDiv {
    display: flex;
    flex-direction: column;
    width: 25%;
    /* 添加其他样式属性 */
}

.topDiv {
    display: flex;
    /* 添加其他样式属性 */
}

.imageDiv {
    /* 添加样式属性，例如设置宽度、间距等 */
}

.infoDiv {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* 添加其他样式属性 */
}

/* 底部页数 */
#paginationContainer {
    display: flex;
    /* align-items: center;
    justify-content: center; */

    position: fixed;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
}